# NFS files
.nfs*

# core dumps
core

# Object files and libraries
*.o
*.a
a.out

# debugger symbols
*.dSYM

# emacs file
TAGS

# Do NOT push data files to git.
data
index_files
querier_files

# compiled binaries (Windows)
*.exe

# locally mirrored external websites (regenerate with add.sh / mirror.sh)
sites
